project:
  type: website
  output-dir: docs

website:
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: papers.qmd
        text: Publications

format:
  html:
    theme: yeti
    css: styles.css
    toc: true