project:
  type: website
  output-dir: docs

website:
  title: "Jared Vasil"
  navbar:
    left:
      - href: index.html
        text: Home
      - href: papers.html
        text: Papers

format:
  html:
    theme: yeti
    css: styles.css
    toc: true