project:
  type: website
  output-dir: _site

website:
  title: "Jared Vasil"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: papers.qmd
        text: Papers

format:
  html:
    theme: yeti
    css: styles.css
    toc: true